{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Login to Inventory Management</title>
  <link rel="stylesheet" type="text/css" href="{% static "registration/login.css" %}" />
</head>


<body>
  <p id="forgot">
    {% if forgot %}
    {{ forgot }}
    {% endif %}
  </p>
  {% if err_message %}
  <p id="error_msg" class="errornote">
    {{ err_message }}
  </p>
  {% endif %}

  <div class='wrap'>
    Login
    <form action='{% url "Inventories:index" %}' method="POST"> 
      {% csrf_token %}
      <input type='text' id='username' name='username' placeholder='Username'>
      <input type='password' id='password' name='password' placeholder='Password'>
      <button type="submit" class='login'>LOGIN</button>
    </form>
    <button class='forgot' onclick="forgot();">FORGOT PASSWORD ?</button> 
  </div>
  
  <script src="{% filter escapejs %}{% static "inventories/js/jquery.min.js" %}{% endfilter %}"></script>
  <script src="{% filter escapejs %}{% static "registration/login.js" %}{% endfilter %}"></script>
</body>
</html>

