{% extends "Inventories/base.html" %}{% load static %}

{% block extra-stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static "inventories/css/templates/archive.css" %}" />
{% endblock %}

{% block title %}Archive{% endblock %}

{% block header-active %}
<li><a href="{% url 'Inventories:index' %}">Home</a></li>

<li class="active"><a href="#"> Archive</a></li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-5">
		<div class="panel panel-primary">
			<div class="panel-heading" align="center">
				<h4 style="font-weight: 300;" title="Scroll for more">Latest Orders</h4>
			</div>
			<div class="list-group" align="center" style="max-height: 480px; overflow: auto;">
				{% csrf_token %}
				<div id="orders_list">
					{% for transaction in last_5_transactions %}
					<a href="#" id="{{ transaction.id }}" onclick="get_order_info(this);" class="list-group-item"> Order# {{ transaction.id }} | 
						{% if transaction.description %} {{ transaction.description }} 
						{% else %} No Description {% endif %} </a>	
						{% endfor %}
					</div>
					<a href="#" id="vm_btn" onclick="view_more();" class="list-group-item list-group-item-info">View More</a>
				</div>
			</div>

		</div>
		<div class="col-xs-7" align="center">
			<div id="jumbo" class="jumbotron">
				<div class="content">
					<h1 class="animated fadeInUp" style="color: #877a71 !important;">Orders Archive</h1>
					<h2 class="animated fadeInUp" style="color: #877a71 !important;">&#60;-- Select an order</h2>
				</div>
			</div>
			<div id="orders_view" style="display: none;">
				<h3 id="order_id"><span class="label label-default"></span></h3>
				<h4 id="date"> <small></small></h4>
				<h5 id="trans_desc"></h5>
				<table class="table table-hover table-bordered table-condensed">
					<thead>
						<tr>
							<th>Description</th>
							<th>Quantity</th>
							<th>Cases</th>
							<th>Price</th>
							<th>Subtotal</th>
						</tr>
					</thead>
					<tbody id="items_list">
					</tbody>
				</table>
				<div class="row">
					<div class="col-xs-12">
						<p id="items_count" class="pull-left"></p>
						<p id="subtotal" class="pull-right"></p>					
					</div>	
				</div>
				<div class="row">
					<div class="col-xs-12">
						<p id="fees" class="pull-left"></p>
						<p id="total" class="pull-right"></p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	{% endblock %}

	{% block extra-js %} 
	<script type="text/javascript">
		var transactions = [], views_url = "{% url 'Inventories:archive' %}", transactionInfo_url = "{% url 'Inventories:transactionInfo' %}", $orders_list = $('#orders_list'), $orders_view= $('#orders_view'), $jumbo = $('#jumbo');
		{% for transaction in last_5_transactions %}
		transactions.push([{{ transaction.id }}, {% if transaction.description %} "{{ transaction.description }}" 
			{% else %} "No Description" {% endif %}]);			
		{% endfor %}
	</script>
	<script type="text/javascript" src="{% static "inventories/js/templates/archive.js" %}"></script>
	{% endblock %}



