<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Inventory</title>

	<!-- <link rel="stylesheet" href="css/main.css" type="text/css" /> -->
</head>


<body>
	{% for item in inventory.item_set.all %}
	<ul id="{{ item.item_number }}">
		<li> Item ID: {{ item.id }}</li>
		<li> Item# {{ item.item_number }}</li>
		<li> Desc: {{ item.description }}</li>
		<li> Q: {{ item.quantity }}</li>
		<li> A/U: {{ item.amount }}</li>
		<li> Cases: {{ item.cases }}</li>
		<li> Def: ${{ item.def_price }}</li>
		<li> Curr:  {% if item.curr_price %}
						${{ item.curr_price }}
					{% else %}
						${{ item.def_price }}
					{% endif %}
		</li>
				
		<li> Last Mod: {{ item.last_modified.month }}/{{ item.last_modified.day }}/{{ item.last_modified.year }}</li>		
	</ul>
	{% endfor %}
</body>

</html>
